body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url("fotos/background.png");
  background-size: 101%;
}

.header_image {
 display: inline-block;
 margin-left: 2%;
}
  
.header_text{
  display: inline-block;
  margin-left: 3%;

}

.title {
  font-size: 60px;
  float: left;
  margin-top: 10%;
  color: rgb(233, 233, 233);
}

.logo {
  float: left;
  width: 33em;
  padding: 2%;
  margin-top: -1.5%;
}


.content {
  background-color: rgb(255, 255, 255);
  opacity: 30%;
  padding: 3%;
  text-align: center;
}