body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*background-size: 101%;*/
}

.background_index {
  background-image: url("fotos/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background_main {
  background-image: url("fotos/background_blue.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background_adminadd {
  background-image: url("fotos/background_yellow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.title {
  font-size: 60px;
  margin-top: -4%;
  color: rgb(233, 233, 233);
  text-align: center;
}


.logo {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-left: 1%;

}

.content {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3%;
  text-align: center;
  width: 65%;
  margin-left: 15%;
  height: 250px;
}

.text_form {
  color: #FFFFFF;
  font-size: 23px;
}

.input_form {
  border: none;
  background-color: #ECECEC;
  padding: 0.4%;
  min-width: 23%;
}

.button {
  margin-top: 2%;
  background-color: #242424;
  color: #FFFFFF;
  border: none;
  padding: 0.5%;
  min-width: 10%;
  font-size: 17.5px;
}

.button:hover {
  background-color: #313131;
}

.text_form_yellow {
  color: #000000;
  font-size: 23px;
}

.input_form_yellow {
  border: none;
  background-color: #ECECEC;
  padding: 0.4%;
  min-width: 23%;
}


.content_yellow {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3%;
  text-align: center;
  width: 65%;
  margin-left: 15%;
  height: 250px;
}

.title_yellow {
  color: #000000;
  font-size: 60px;
  margin-top: -4%;
  text-align: center;
}

.content_main {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3%;
  width: 65%;
  margin-left: 15%;
  height: 250px;
}

.button_main {
  background-color: #242424;
  color: #FFFFFF;
  border: none;
  padding: 0.5%;
  min-width: 20%;
  font-size: 20px;
  margin-top: 3%;
}

.button_main:hover {
  background-color: #313131;
}

.video {
  margin-top: -12%;
  margin-left: 24%;

  position: absolute;
  display: inline;


}

video {

  width: 60%;
  height: auto;


}

.button_adminadd {
  background-color: #242424;
  color: #FFFFFF;
  border: none;
  padding: 0.5%;
  min-width: 20%;
  font-size: 20px;
  margin-top: 5%;
  display: inline-block;
  margin-left: -75%;
}

.button_adminadd:hover {
  background-color: #313131;
}


.form_adminadd {
  margin-top: -15%;
}


@media only screen and (max-width: 850px) {

  .button_main {
    padding: 1%;
  }

  .button {
    padding: 1%;
  }

  .video {
    margin-top: 2%;
    margin-left: 2%;
  }

  video {
    width: 70%;
  }

  .content_main {
    height: 400px;
  }


}

@media only screen and (min-width: 1550px) {

  .video {
    margin-top: -6%;

  }

  .button_main {
    margin-top: 1.5%;
  }

  video {
    width: 50%;
  }

  .content_main {
    height: 350px;
  }

  .button_adminadd {
    margin-top: 1.5%;
  }

  .form_adminadd {
    margin-top: -8%;
  }



}

@media only screen and (max-width: 1000px) {
  .button_adminadd {
    margin-top: 1%;
    display: inline-block;
    margin-left: 0%;
    margin-bottom: 1.5%;
  }

  .form_adminadd {
    margin-top: 0%;
  }

  .button_adminadd {
    padding: 1%;
  }


  .content_yellow {

    height: 350px;
  }

}


@media only screen and (max-width: 1300px) {
  .title {
    margin-top: 0%;
  }

  .title_yellow {
    margin-top: 0%;
  }
}